  <div class="profile-card p-author h-card vcard">
      <div class="wrap">
        <img class="u-photo photo" src="/logo.jpg" alt="">
        <h2 class="p-name fn">
          <a class="u-url url" href="https://reynosomazoy.com/">Andrés Reynoso Mazoy</a>
        </h2>

        <p class="p-note note">Hi, I'm <a href="{{"about"|relURL}}">Andrés</a>.
        I'm a follower of Jesus, a citizen of North America and a <span
        class="p-role role">software engineer</span> at <span class="p-org
        org">Google</span>.</p>

        <ul class="social-links">
          <li><a rel="me" href="https://github.com/AndresReyMaz" class="u-url url">GitHub</a></li>
          <li><a rel="me" href="https://twitter.com/AndresMazoy" class="u-url url">Twitter</a></li>
          <li><a rel="me" href="www.linkedin.com/in/andres-reynoso-mazoy" class="u-url url">LinkedIn</a></li>
        </ul>

      </div>
  </div>
